<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771836921251-bh6fa3t1qr9upjpg35g3btgi69iartgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771836921251-bh6fa3t1qr9upjpg35g3btgi69iartgo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>771836921251-b0kln0o3ok07bq2i46sqeqns4mmpbspr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUnHnZCPVlrLVaDQjTm2bahCh-LcdINgY</string>
	<key>GCM_SENDER_ID</key>
	<string>771836921251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.educationFlutterWeb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>education-app-b5aed</string>
	<key>STORAGE_BUCKET</key>
	<string>education-app-b5aed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771836921251:ios:61a47b17c33ba7fbe98616</string>
</dict>
</plist>